[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
yapf = "*"

[packages]
tornado = "*"
motor = "*"
nose = "*"
pylint = "*"
PyJWT = "*"
cryptography = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
tornado-smtp = "*"

[requires]
python_version = "3.7"
